body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    text-align: center;
}

.ui-dialog {
    width: 600px !important;
}